<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-md-4 text-center"> Badge Production - Print </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="div-photo">
        <img src="{{base64}}" style="width:200px;height:250px" alt="" />
      </div>
      <br/>
      <div class="text-center">
        <button id="btn-open-cam" type="button" (click)="openCam()" class="btn btn-default" data-toggle="modal" data-target="#myModal">Take Photo</button>
      </div>
      <br/>
      <div class="text-center">
        <a id="btn-upload-phoo" (click)="uploadPhoto()" style="text-decoration: underline;cursor: pointer">Upload Photo</a>
        <input style="display:none" id="file-hidden" type="file" (change)="fileChangeListener($event)">
      </div>
    </div>
    <div class="col-md-8 div-content">
      <div class="row">
        <div class="col-md-3">Title</div>
        <div class="col-md-3 text-bold">Mr.</div>
        <div class="col-md-3">Badge status</div>
        <div class="col-md-3 text-bold">Active</div>
      </div>
      <div class="row">
        <div class="col-md-3">First name</div>
        <div class="col-md-3 text-bold">Joakim</div>
        <div class="col-md-3">Badge number</div>
        <div class="col-md-3 text-bold">1862951235</div>
      </div>
      <div class="row">
        <div class="col-md-3">Last name</div>
        <div class="col-md-3 text-bold">Brown</div>
        <div class="col-md-3">Badge type</div>
        <div class="col-md-3 text-bold">HQ The Centre Brun</div>
      </div>
      <div class="row">
        <div class="col-md-3">Phone number</div>
        <div class="col-md-3 text-bold">087 774 53 19</div>
        <div class="col-md-3">Validity start date</div>
        <div class="col-md-3 text-bold">12.12.2017</div>
      </div>
      <div class="row">
        <div class="col-md-3">Email</div>
        <div class="col-md-3 text-bold">jbrown@genergie.ch</div>
        <div class="col-md-3">Validity start time</div>
        <div class="col-md-3 text-bold">08:00</div>
      </div>
      <div class="row">
        <div class="col-md-3">Function</div>
        <div class="col-md-3 text-bold">Electrician</div>
        <div class="col-md-3">Validity end date</div>
        <div class="col-md-3 text-bold">12.12.2017</div>
      </div>
      <div class="row">
        <div class="col-md-3">Site</div>
        <div class="col-md-3 text-bold">Vevey</div>
        <div class="col-md-3">Validity end time</div>
        <div class="col-md-3 text-bold">18:00</div>
      </div>
      <div class="row">
        <div class="col-md-3">Extenal company</div>
        <div class="col-md-3 text-bold">Romande Energie</div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8 text-center">
      <button type="button" class="btn btn-primary" (click)="Print()">Validate and print</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="btn-dismiss" type="button" (click)="closeCam()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Take Picture</h4>
      </div>
      <div class="modal-body">
        <app-webcam (generatedBase64)='onGetBase64($event)' [IsOpen]="IsOpenCam"></app-webcam>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeCam()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button id="btn-open-cropper" style="display:none" type="button" class="btn btn-default" data-toggle="modal" data-target="#cropper-modal">Take Photo</button>
<div id="cropper-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="btn-dismiss-cropper" type="button" (click)="closeCropper()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Photo</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <img-cropper #cropper [image]="dataCropper" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
          </div>
          <div class="col-md-6 text-center">
            <div class="result" *ngIf="dataCropper.image">
              <img [src]="dataCropper.image" [width]="200" [height]="250">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="IsTakePhoto" type="button" (click)="takePhotoAgain()" class="btn btn-default" data-dismiss="modal">Take photo again</button>
        <button *ngIf="!IsTakePhoto" type="button" (click)="takePhotoAgain()" class="btn btn-default" data-dismiss="modal">Upload photo again</button>
        <button type="button" (click)="validatePhoto()" class="btn btn-default" data-dismiss="modal">Validate photo</button>
      </div>
    </div>
  </div>
</div>